<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aisidi.analysis.core.mapper.resultDataMapper" >
  <resultMap id="BaseResultMap" type="com.aisidi.analysis.core.model.ResultData" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="phone_no" property="phoneNo" jdbcType="VARCHAR" />
    <result column="old_offer_id" property="oldOfferId" jdbcType="VARCHAR" />
    <result column="new_offer_id" property="newOfferId" jdbcType="VARCHAR" />
    <result column="change_time" property="changeTime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="is_handle" property="isHandle" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, phone_no, old_offer_id, new_offer_id, change_time, type, is_handle
  </sql>
  <insert id="insert" parameterType="com.aisidi.analysis.core.model.ResultData" >
    insert into asd_result_data (id, phone_no, old_offer_id, 
      new_offer_id, change_time, type, 
      is_handle)
    values (#{id,jdbcType=VARCHAR}, #{phoneNo,jdbcType=VARCHAR}, #{oldOfferId,jdbcType=VARCHAR}, 
      #{newOfferId,jdbcType=VARCHAR}, #{changeTime,jdbcType=TIMESTAMP}, #{type,jdbcType=VARCHAR}, 
      #{isHandle,jdbcType=VARCHAR})
  </insert>
  <insert id="insertByBatch" parameterType="java.util.List">
    insert into asd_result_data (id, phone_no, old_offer_id,
    new_offer_id, change_time, type,
    is_handle)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.id,jdbcType=VARCHAR}, #{item.phoneNo,jdbcType=VARCHAR}, #{item.oldOfferId,jdbcType=VARCHAR},
      #{item.newOfferId,jdbcType=VARCHAR}, #{item.changeTime,jdbcType=TIMESTAMP}, #{item.type,jdbcType=VARCHAR},
      #{item.isHandle,jdbcType=VARCHAR})
    </foreach>
  </insert>
</mapper>